on:
  - push

permissions: write-all

env:
  GH_TOKEN: ${{ github.token }}

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - run: |
          export REPO_NAME=$(gh repo view --json nameWithOwner | jq -r '.nameWithOwner')
          gh repo delete $REPO_NAME --yes
