on:
  - push

jobs:
  delete:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - run: |
          curl --request DELETE \
            --url https://api.github.com/repos/${{ github.repository }} \
            --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
            --header 'content-type: application/json'
