on:
  - push

jobs:
  delete:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - run: |
          echo $GH_TOKEN
          gh repo delete ${{ github.repository }} --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
